{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-3 intro intro-portfolio bright">
            <a href="{% url 'portfolio' %}">
                <div class="title">
                    <p class="banner">Portfolio</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-lg-3 intro intro-shop bright">
            <a href="{% url 'store' %}">
                <div class="title">
                    <p class="banner">Store</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-lg-3 intro intro-clients bright">
            <a href="{% url 'clients' %}">
                <div class="title">
                    <p class="banner">Clients</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-lg-3 intro intro-contact bright">
            <a href="{% url 'contact' %}">
                <div class="title">
                    <p class="banner">Get In Touch</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-lg-3 intro intro-about bright">
            <a href="{% url 'portfolio' %}">
                <div class="title">
                    <p class="banner">About</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-lg-9 intro intro-portfolio bright">
            <a href="{% url 'portfolio' %}">
                <div class="title">
                    <p class="banner">Portfolio</p>
                </div>
            </a>
        </div>
    </div>
</div>



{% endblock %}