@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,900;1,700&display=swap');

html, body {
    height: 100%;
    background-color: #000;
}

.title {
    font-weight: 700;
    color: #000;
    font-size: xxx-large;
    font-family: 'Playfair Display', sans-serif;
}

.intro-portfolio {
    min-height: 100vh;
    background-image: url('/media/181304906_10159165783268917_267905246420190180_n.jpg');
    background-size: cover;
    border-style: solid;
    opacity: 0.5;
    padding: 0;    
}

.intro-shop {
    min-height: 100vh;
    background-image: url('/media/shop-splash.png');
    background-size: cover;
    border-style: solid;
    opacity: 0.5;
    padding: 0; 
}

.intro-clients {
    min-height: 100vh;
    background-image: url('/media/client-splash.jpg');
    background-size: cover;
    border-style: solid;
    opacity: 0.5;
    padding: 0;   
}

.intro-contact {
    min-height: 100vh;
    background-image: url('/media/contact-splash.png');
    background-size: cover;
    border-style: solid;
    opacity: 0.5; 
    padding: 0;  
}

.intro-portfolio:hover,
.intro-shop:hover,
.intro-clients:hover,
.intro-contact:hover
{  
    animation: 
    splash 70s  none,
    bright 1s forwards;    
}

@keyframes splash {
    from{
        background-position-x: left;
    }
    to{
        background-position-x: right;  
    }
}

@keyframes bright {
    from{
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.title {
    height: 99%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}