<div class="card">
    <a href="{% url 'item_detail' product.id %}" aria-label="view {{ product.name }}">
        <img class="card-img-top" src="/media/{{ product.image }}" alt="Store Item">
    </a>
    <div class="card-body">
        <h5 class="card-title store-format">{{ product.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item store-format card-info"><span class="badge badge-secondary">{{ product.sale_type|capfirst }}</span></li>
        <li class="list-group-item store-format card-info"><strong>£{{ product.price }}</strong></li>
    </ul>
    
</div>