{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container store-layout">
    <div class="row">
        {% for product in products %}
        {% if product.is_sold == True %}
        <div class="col-sm-4 col-md-3">
            {% include 'store/store-item.html' %}
        </div>
        {% else %}
        
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}