{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-2">
            <h1>Shopping Basket</h1>
        </div>
    </div>

    {% if basket_items %}
    {% for item in basket_items %}

    <div class="row">
        <div class="col-sm-6 col-md-2">
            <img class="img-fluid" src="{{ item.product.image.url }}" />
        </div>
        <div class="col-sm-6 col-md-6">
            <h5>{{ item.product.name }}</h5>
            <p>{{ item.product.sale_type }}</p>
        </div>
        <div class="col-sm-6 col-md-2">
            <form action="{% url 'update_basket' item.item_id %}" method="POST">
                {% csrf_token %}
                <div>
                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                        min="0" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <div>
                        <input type="submit" class="basket-update-button" value="Update Quantity"></input>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                    <div><a class="float-left text-danger" href="{% url 'delete_basket_item' item.item_id %}">
                            Remove item</a></div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 col-md-2">
            <h6>£{{ item.product.price }}</h6>
        </div>
    </div>

    {% endfor %}

    <div class="row">
        <div class="col-12 text-right">
            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
            <a href="{% url 'store' %}" class="btn">
                <span class="icon">
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span class="">Keep Shopping</span>
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'checkout' %}" class="btn">
                <span class="">Checkout Now</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn"><span class="">Sign in to Checkout
                    Now</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span></a>
            {% endif %}
        </div>
    </div>

    {% else %}
    <div class="col-12 empty-title">
        <h3>You're basket is empty</h3>
        <a href="{% url 'store' %}" class="btn btn-secondary">Start shopping!</a>
    </div>

    {% endif %}
</div>
{% endblock %}