@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,700&display=swap');

/* General Rules */

html,
body {
    height: 100%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
}

.bg-color-main{
    background-color: #000000;
}


.page-header {
    margin: 3rem;
}

.centered {
    text-align: center;
}


/* Nav Bar */

.nav-layout {
    margin-left: 44%;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: #fff
    padding: 2rem;
}

.collapse-format {
    text-align: right;
}

.basket-icon {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #fff;
}

.basket-update-button {
    border: none;
    color: green;
    background-color: #fff;
    padding: 0;
    font-size: small;
}

.logo {
    margin: 1rem auto 0 auto;
    max-height: 5rem;
}

.information-format {
    text-align: center;
    margin-top: 3rem;
}

.container-format {
    margin-top: 3rem;
}

.link-style {
    text-decoration: none;
    color: #D9D9D9
}

.cart-link {
    text-decoration: none;
    color: #fff;
}

/* Contact Rules */

.social-icons {
    text-decoration: none;
    color: #323e48;
    font-size: 3rem;
    padding: 1rem;
}

.social-icons:hover {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    padding: 0 2rem;
    transition: ease-in-out 2s;
}

/*portfolio Rules */

.portfolio-text {
    text-align: center;
    padding-top: 6rem;
    color: #323e48;
}


.portfolio-card:hover .overlay {
    opacity: 1;
}

.portfolio {
    padding: 1rem;
}

.card-size {
    height: 4rem
}

/* Form Fields */
