.card {
    border: 0;
    padding-bottom: 3rem;
    border-radius: .5rem;

}

.list-group-flush>.list-group-item{
    border-width: 0;
}

.card-body {
    padding: 0.5rem;
}

.card-info {
    padding: 0;
}

.store-format {
    text-align: center;
}

.store-price {
    font-size: 3rem;
    font-weight: 600;
}