.order-image {
    height: 10rem;
    width: 10rem;
}

.order-number {
    font-size: 1rem
}

.title-format {
    text-align: center;
    margin-top: 2rem;
}

.order-table {
    border: #313e48 solid 1px;
}

.order-item {
    margin: 0;
}

.item-image {
    padding-top: 2rem;
}