{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container container-format">
    <div class="row">
        <div class="col-12">
            <h1 class="title-format">My Profile</h1>
        </div>
        <div class="col-12">
            <p>Welcome back {{user.username}}</p>
            <p>We currently have your E-mail as {{ user.email }}</p>
            <a href="{% url 'account_set_password' %}">Change my password</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="title-format">My Previous Orders</h2>
        </div>
    </div>
    {% if orders %}
    {% for order in orders %}
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a class="btn" data-toggle="collapse" href="#collapse{{order.order_number}}" role="button"
                aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-chevron-down"></i>
                - {{ order.order_date }} -
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Delivered To: {{order.street_address1}}</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Order Total: £{{ order.grand_total }}</p>
        </div>
    </div>
    <div class="row">
        <div class="collapse col-12 order-table" id="collapse{{order.order_number}}">
            <div class="row">
                {% for item in order.lineitems.all %}

                <div class="col-6">
                    <img class="order-image" src="/media/{{ item.product.image }}">
                </div>
                <div class="col-6">
                    <p class="order-item">{{item.quantity}} x {{ item.product.name }} £{{ item.product.price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}

    <p>You've not placed any orders yet!</p>

    {% endif %}
</div>
{% endblock %}