.store-layout {
    margin-top: 2rem;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card {
    border: 0;
    padding-bottom: 3rem;
    border-radius: .5rem;

}

.list-group-flush>.list-group-item{
    border-width: 0;
}

.card-body {
    padding: 0.5rem;
}

.card-info {
    padding: 0;
}

.store-format {
    text-align: center;
}

.store-price {
    font-size: 3rem;
    font-weight: 600;
}

.cat-format {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.badge-color {
    color: #ffffff;
    background-color: #313e48;
    font-size: 2rem;
}